@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
}

.header {
  height: 80px;
  background: #011627;
  display: flex;
  align-items: center;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    max-width: 80%;
    margin: auto;
  }

  .user-avatar {
    border: 2px solid #82aaff;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
  }

  nav {
    display: flex;
    align-items: center;

    .create-account-button {
      width: 230px;
      height: 50px;
      background: #ff2c83;
      border: none;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: Montserrat;
      font-weight: 600;
      font-size: 20px;
      text-decoration: none;

      color: #ffffff;
      margin-right: 15px;
    }

    .login-button,
    .logout-button {
      background: none;
      border: none;
      font-family: Montserrat;
      font-weight: 600;
      font-size: 20px;
      margin-left: 15px;
      text-align: center;
      text-decoration-line: underline;

      color: #ff2c83;
    }
  }
}
